* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Open Sans Condensed", "Arial Narrow", serif;
  background: rgb(255, 255, 255) url(../images/blue_egg_shell.jpg) repeat top
    left;
  font-weight: 400;
  font-size: 15px;
}

a {
  color: #3c3744;
  text-decoration: none;
}

a:hover {
  color: #090c9b;
}

header {
  padding: 5px 10px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px #090c9b;
  text-align: center;
}
header h1 {
  font-size: 36px;
  line-height: 36px;
  padding: 10px 10px 0px 10px;
  margin: 0;
  position: relative;
  font-weight: 300;
  color: #090c9b;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

header h1 span {
  font-weight: 700;
}

nav {
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
}

div {
  border-radius: 15px;
  height: 50px;
}

h2 {
  line-height: 20px;
  margin-top: 10%;
  padding: 10px 10px 10px 12px;
  display: block;
  color: #090c9b;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

article {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255) url(../images/egg_shell.jpg) repeat top left;
}

p {
  margin: 10px;
  padding: 20px 10px 20px 10px;
  text-align: justify;
  display: block;
  color: #3c3744;
  font-size: 21px;
}

section {
  margin-inline-start: 100px;
  display: grid;
}

.home {
  font-size: 30px;
  width: 150px;
  padding: 5px 5px 0px 5px;
  text-align: center;
  background: rgb(255, 255, 255) url(../images/egg_shell.jpg) repeat top left;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.nav-m {
  margin-left: 520px;
  margin-right: 520px;
  width: 330px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255) url(../images/egg_shell.jpg) repeat top left;
}

.titleAboutMe {
  font-size: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
  row-gap: 40%;
  column-gap: 2%;
  width: 65%;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  margin-top: -20px;
  grid-column: 1;
  grid-row: 2;
}
.four {
  margin-top: 5px;
  grid-column: 2;
  grid-row: 2;
}
.pf {
  position: absolute;
  width: 270px;
  height: 300px;
  left: 850px;
  top: 158px;
  filter: drop-shadow(8px 7px 6px rgba(0, 0, 0, 0.6));
  border-radius: 15px;
}

.gh {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 880px;
  top: 470px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.ig {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 935px;
  top: 470px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.fc {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 990px;
  top: 470px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.rd {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 1045px;
  top: 470px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.activities {
  margin-top: 10px;
}

.wordfind {
  position: absolute;
  width: 20%;
  height: 24%;
  font-size: 30px;
  left: 150px;
  top: 150px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.53);
  padding: 5px;
  margin: 30px auto;
  text-align: center;
}

.imgWord {
  position: absolute;
  width: 130px;
  height: auto;
  left: 70px;
  top: 60px;
  border-radius: 15px;
}
.imgWord:hover {
  background: rgb(255, 255, 255) url(../images/egg_shell.jpg) repeat top left;
  transition: 0.3s ease;
}

.library {
  position: absolute;
  width: 26%;
  height: 24%;
  font-size: 30px;
  left: 505px;
  top: 150px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.53);
  padding: 5px;
  margin: 30px auto;
  text-align: center;
}

.imgbook {
  position: absolute;
  width: 250px;
  height: auto;
  left: 60px;
  top: 70px;
  border-radius: 15px;
}

.imgbook:hover {
  background-color: #090c9b;
  transition: 0.3s ease;
}

.consulta {
  position: absolute;
  width: 14%;
  height: 24%;
  font-size: 30px;
  left: 950px;
  top: 150px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.53);
  padding: 5px;
  margin: 30px auto;
  text-align: center;
}

.imgConsulta {
  position: absolute;
  width: 120px;
  height: auto;
  left: 40px;
  top: 70px;
  border-radius: 15px;
}

.imgConsulta:hover {
  background: rgb(255, 255, 255) url(../images/egg_shell.jpg) repeat top left;
  transition: 0.3s ease;
}

.wrapper2 {
  margin-top: 40px;
  margin-left: 44%;
  margin-bottom: -40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  row-gap: 20%;
}

.footer {
  background-color: #2d4b8b;
  padding: 1rem 0;
  margin-top: 20%;
}

.actFooter {
  background-color: #2d4b8b;
  padding: 1rem 0;
  margin-top: 40%;
}

.fText {
  color: #ffffff;
  text-align: center;
  font-size: 22px;
}
