* {
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: dream orphans;
  src: url("../font/dream\ orphans.ttf");
}

@font-face {
  font-family: Miracle;
  src: url("../font/Miracle\ Personal\ use.otf");
}
@font-face {
  font-family: Rockford;
  src: url("../font/RockfordSans-Light.otf");
}

:root {
  --main: #ce6a53;
  --mainDark: #171123;
  --secondary: #5b85aa;
  --secondaryDark: #f46036;
  --violet: #372248;
  --white: #ffffff;
  --gray: #3a2c52;
}

body {
  background: rgb(255, 255, 255) url(../images/orange_paper.jpg) repeat top left;
  font-weight: 400;
  font-size: 15px;
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover {
  color: var(--violet);
}

header {
  font-family: dream orphans;
  padding: 5px 10px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px var(--secondaryDark);
  text-align: center;
}
header h1 {
  font-size: 36px;
  line-height: 36px;
  padding: 10px 10px 0px 10px;
  margin: 0;
  position: relative;
  font-weight: 300;
  color: var(--mainDark);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

header h1 span {
  font-weight: 700;
}

nav {
  font-family: "Open Sans Condensed", "Arial Narrow", serif;
  padding-top: 10px;
  text-align: center;
  font-size: 22px;
}

div {
  border-radius: 15px;
  height: 50px;
}

h2 {
  color: var(--secondaryDark);
  font-family: Miracle;
  margin-bottom: 20px;
}

p {
  color: var(--white);
  font-family: Rockford;
  font-size: 18px;
}

li {
  color: var(--white);
  font-family: Rockford;
  font-size: 18px;
}

.nav-m {
  margin-left: 520px;
  margin-right: 520px;
  width: 330px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: var(--white);
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

.item {
  height: auto;
  padding: 20px;
  text-align: justify;
  border-radius: 25px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.53);
  background-color: var(--gray);
}

.item:hover {
  background-color: var(--mainDark);
  transition: 0.5s ease;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(150px, auto);
  row-gap: 380px;
  column-gap: 3%;
  width: 82%;
  margin-top: 60px;
  margin-left: 130px;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  margin-top: -180px;
  grid-column: 1;
  grid-row: 2;
}
.four {
  grid-column: 2;
  grid-row: 2;
}

.footer {
  background-color: var(--mainDark);
  padding: 1rem 0;
  margin-top: 92%;
}
.fText {
  color: #ffffff;
  text-align: center;
  font-family: Rockford;
  font-size: 22px;
}
