* {
	text-align: center;
	font-family:  "Moon", Arial, sans serif;
	font-weight: normal;
}

h1, h2, nav,#wordTheme, #solveButton, #newGameButton, .listWord {
	padding: 10px;
}

h1, h2, nav, #wordTheme, #solveButton, #newGameButton {
	border: 2px black solid;
	border-radius: 8px;
} 

h1, h2, nav, #wordlist {
	background: rgb(255, 255, 255) url(../images/egg_shell.jpg) repeat top left;
}

#wordTheme {
	background-color: white;
}

h1, h2 {

	margin: 10px auto 10px auto;
	display: table;

}

body {

	background: rgb(255, 255, 255) url(../images/blue_egg_shell.jpg) repeat top left;

}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:  rgb(151, 141, 242);
}

#wordTheme {

	border-radius: 8px;

}

#wordboard {

	margin: 20px auto 0 auto;
	border: 2px black solid;
	display: table;
	min-width: 400px;

}

nav {
  text-align: center;
  font-size: 22px;
  margin: 0px 460px 0px 460px;
}

.boardRow {

	display: table-row;

}

.cell {

	margin: 0 auto;
	border: none;
	display: table-cell;
	height:30px;
	width: 30px;
	font-size: 17px;
	padding: 0;
	outline: 0;
	cursor: default; 
	-moz-user-select: none;
    -ms-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 

}

.cell:hover {
	background-color:#3a92df;
	color: white;
}

.cell.selectable {
	background-color: rgb(206, 206, 234);

}

.cell.selected { 

	background-color: #3a92df;

}

.cell.found {
	background-color: rgb(85, 137, 252);
	font-weight: bold;
}

#wordlist { 
	margin: 40px auto 0 auto;
	border: 2px black solid;
	display: table;
	min-width: 400px;
	font-size: 17px;
	text-align: center;
}

.listRow {
	display: table-row;
}

.listWord {
	display: table-cell;
}

.listWord.found {
	color: rgb(115, 154, 238);
	text-decoration: line-through;
}

#newGameButton {
	background-color: rgb(115, 154, 238);
	margin: 20px auto 20px auto;
	display: block;
	outline: 0;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
}

#solveButton{
	background-color: rgb(115, 154, 238);
	margin: 20px auto -20px auto;
	display: block;
	outline: 0;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
}

#solveButton:hover, #newGameButton:hover {
	background-color: rgb(57, 120, 255);
	transition: .3s ease ;
}

.definitions{
	margin-top: 30px;
	margin-bottom: 40px;
}

.definitions2{
	background-color: rgb(115, 154, 238);
	padding: 10px;
	border: 2px black solid;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
}
.definitions2:hover {
	background-color: rgb(57, 120, 255);
	color: black;
	transition: .3s ease ;
}

.definition{
	padding: 12px;
	width: 260px;
	height: auto;
	border: 2px black solid;
	border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	background: rgb(255, 255, 255) url(../images/egg_shell.jpg) repeat top left;
	margin: 10px 0px 10px 10px;
  }
  
  .titleDef{
	margin-top: 10px;
	margin-bottom: -20px;
	font-size: 30px;
	color: rgb(57, 120, 255);
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
  }
  
  .pDef{
	font-size: 16px;
  	color: black;
  	text-align: justify;
  }
  
  .wrapper {
	margin-top: 20px;
	margin-left: 60px;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(100px, auto);
	row-gap: 1%;
	width: 0%;
  }

  .back{
	margin-top: 20px;
	margin-bottom: 20px;
}

.back2{
	background-color: rgb(115, 154, 238);
	padding: 10px;
	border: 2px black solid;
	border-radius: 8px;
	font-size: 18px;
	font-weight: bold;
}
.back2:hover {
	background-color: rgb(57, 120, 255);
	color: black;
	transition: .3s ease ;
}

@font-face {

	font-family: "Moon";
	src: url("../fonts/Moon-Regular.woff2") format("woff2"),
		 url("../fonts/Moon-Regular.woff") format("woff");
	font-weight: normal;

}

@font-face {

	font-family: "Moon";
	src: url("../fonts/Moon-Bold.woff2") format("woff2"),
		 url("../fonts/Moon-Bold.woff") format("woff");
	font-weight: bold;

}